@import "../colors.scss";


.input-container{

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  min-width: max-content;

  box-shadow: 0 0 1px 1px white;
  border-radius: 5px;


  width: 250px;


  input{

    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-size:1rem;
    padding: 10px 10px 10px 20px;


    &::placeholder{

        color: $main-color;
        text-transform: capitalize;
        font-size: 1rem;
    }
    
  }

  

  .icon{
      font-size: 1.1rem;
      font-weight: bold;
      color: $main-color;
      cursor: pointer;
      padding: 10px;
  }

}