.coffe-list{

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;	

    justify-content: space-between;
  

    figure{
        width: 7vw;
        filter: grayscale(100%);
        transition: all 0.2s ease-in-out;
        cursor: pointer;

        &.ativado{
            filter: grayscale(0);
            width: 9.5vw;
        }
    }


}