@import "./colors.scss";


.coffe {

    min-height: max-content;
    min-width: max-content;

    padding: 0.5rem;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 100%;

    &>* {
        width: 50%;
    }

    &.mobile {
        display: none;
        padding: 0;

        .coffe-title {

            min-height: max-content;
            height: 125vh;
            width: 90vw;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: space-evenly;

            align-items: center;

            .coffe-info {

                display: block;
                text-align: center;


                .coffe-img {

                    width: 100%;

                }

                .coffe-preco {
                    margin-top: 0.7rem;
                    font-size: 2rem;

                }

            }

            .coffe-desc {

                font-size: 1.3rem;
                text-align: center;


                &>.desc-item {
                    margin: 0;
                }
            }


        }
    }

    .coffe-title {

        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;

        position: relative;
        max-width: max-content;

        .coffe-btn {

            margin-top: 40%;

            button {
                margin-top: 3rem;
            }

        }

        .coffe-desc {

            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: flex-end;

            bottom: 4rem;

            margin-top: 2rem;

            font-size: 1.1rem;
            font-weight: bold;
            text-transform: capitalize;
            color: white;


            &>* {

                padding: 8px;

            }

            &>*:not(:first-child) {
                margin: 0 8px;

            }



        }


    }



    .coffe-info {


        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-end;

        .mobile {
            display: none;
        }

        .coffe-img {

            width: 80%;

        }

        .coffe-preco {
            font-size: 2rem;
            color: $main-color;

        }

    }


    @media screen and (max-width: 1000px) {


        & {
            display: none;
        }

        &.mobile {

            display: flex;


        }


    }


}