.header {

    height: 80px;
    min-height: max-content;
    overflow: hidden;
    position: relative;
    z-index: 5;


    .header-container{

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;

        width: 80%;
        height: 100%;
        margin: 0 auto;

    }

  
    .header-logo > figure{

        width: 60px;

    }

    @media screen and (max-width: 1100px){


        & .input-container{

            display: none;
    
    
        }


        .header-logo > figure{

            width: 3.5rem;

        }

    }



}