.footer{

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    justify-content: space-between;
    align-items: center;

    padding: 2rem 9.5vw;

    border-top: 1px solid white;
    border-radius: 5px;

    position: relative;

    z-index: 5;

    text-transform: capitalize;

}